* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #282D35;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    height: 90px;
}

.nav--logo{
    height:32px;
    margin-right: 20px;
}

.nav--title{
    color: #61DAFB;
    margin-right: auto;
    font-size: 23px;
    font-weight: 700;
}

.nav--text{
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 600;
}

main{
    font-family: 'Inter', sans-serif;
    color: white;
    height:100%;
    padding: 20px 30px;
    background-image: url("./assets/React-icon.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 70vw;
    background-position-y: center;
}

.main--heading{
    font-size: 39;
    margin: 0;
    letter-spacing: -0.05em;

}

.main--list{
    margin-top: 30px;
    font-size: 16;
    max-width: 400px;
}

.main--list--items{
    padding-block: 10px;
}

.main--list > li::marker{
    font-size: 1.4rem;
    color: #61DAFB;   
}